.container {
    height: 100%;
}

.topBar {
    height: 50px;
    display: flex;
    flex-direction: row;
}

.topBarSection {
    flex: 1;
}

.languageSelector {
    width: 100%;
}

.main {
    height: calc(100% - 50px);
    display: flex;
    flex-direction: row;
}