body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root {
  height: 100%;
}
.monaco-editor .parameter-hints-widget {
  border: 0;
}
.monaco-editor .parameter-hints-widget .signature {
  padding: 0;
}
.monaco-editor .suggest-widget {
  border: 0;
}
.monaco-editor.vs-dark .suggest-widget {
  border: 0;
}
.monaco-editor .rename-box {
  top: 0;
}